*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}
body{
    background-color: #f5f5f5;
}

input:focus, select:focus {
    outline: none;
}

header.menu{
    background-color: #19181F;
    display: flex;
}

header.menu nav{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu a{
    color: #ffff;
    padding: 30px 2%;
}

.itemAtivo{
    color: #1EB980 !important;
}

.menu img{
    width: 200px;
}

.BlocoDeTitulo{
    display: flex;
    padding: 30px 0%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.BlocoDeTitulo h4{
    font-weight:300;
}

.BlocoDeTitulo a{
    background-color: #1EB980;
    color: #ffff;
    padding: 10px 30px;
    border-radius: 0.8rem;
    border-bottom: 4px solid rgba(0, 0, 0, 0.185);
}

.ListagemTransacoes ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type:none ;
    width: 100%;
    gap: 20px;
}

.ListagemTransacoes li .contentitem{
    display: flex;
    border: 1px solid #E3E3E3;
    border-radius: 0.8rem;
    padding: 20px;
    width: 50vw;
    background-color: #ffff;
}

.ListagemTransacoes .AcoesItemTransacao{
    width: 20%;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    
}

.ListagemTransacoes .AcoesItemTransacao button{
    border: none;
    color: #5B746A;
    background-color: #fff;
}

.ItemTransacao .description{
    width: 80%;
    font-weight: 300;
    font-size: 14px;
    
}

.ItemTransacao .description b{
    font-size: 18px;
}

main .NovoBlocoDeTitulo{
    gap: 650px;
    display: flex;
    padding: 30px 20%;
    flex-direction: row;
}

main .BlocoFormulario{
    display: flex;
    justify-content: center;
}

main .BlocoFormulario form {
    width: 40vw;
    display: flex !important;
    flex-direction: row !important; 
}

main .BlocoFormulario form .blocoInputs{
    width: 100%;
}

main .BlocoFormulario .blocoInputs div{
    width: 100%;   
    padding: 10px 0%;
}

main .BlocoFormulario .blocoInputs input, main .BlocoFormulario .blocoInputs select{
    width: 100%;
    padding: 10px 5px;
    background-color: #fff;
    border-radius: 0.5rem;
    border: 1px solid #E3E3E3;
}

main .BlocoFormulario .blocoInputs input:focus, main .BlocoFormulario .blocoInputs select:focus{
    border: 1px solid #1EB980 !important;
}

.blocoInputs .AcoesFormulario{
    display: flex;
    gap: 30px;
}

.AcoesFormulario .BotaoCancelar, .AcoesFormulario .BotaoSalvar{
    width: 50%;
    border-radius: 0.5rem;
    padding: 10px 5px;
    box-shadow: 1px 2px 2px #0000005f;
    border: 1px solid #1EB980;
}

.AcoesFormulario .BotaoCancelar{
    color: #1EB980;
    background-color: #fff;
    
}

.AcoesFormulario .BotaoSalvar{
    color: #fff;
    background-color:#1EB980;
}

.ContainerDashboard{
    display: flex;
    justify-content: center;
    gap: 70px;
}

.ContainerDashboard .InfoValores{
    display: flex;
    gap: 40px;
    background-color: #fff;
    border: 1px solid #E3E3E3;
    border-radius: 0.5rem;
    padding: 20px 50px;
    align-items: center;

}

.ContainerDashboard .InfoValores h3{
    font-weight: 300;

}

.ContainerDashboard .InfoValores h1{
    color: #1EB980;
}

.ContainerDashboard .InfoValores i{
    color: #1EB980;
    font-size: 25px;
    padding: 10px;
    padding-bottom: 7px;
    border-radius: 0.8rem;
    border: 1px solid #f5f5f5;
    background-color: #8bbba93f;
    
}

.despesa h1{
    color: rgb(210, 71, 71) !important;
}

.despesa i{
    color: rgb(210, 71, 71) !important;
    background-color: rgba(210, 89, 89, 0.304) !important;;
}

.containerCategorias {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.containerCategorias .Receitas {
    background-color: #fff;
    border: 1px solid #E3E3E3;
    border-radius: 0.5rem;
    padding: 20px 150px;
    align-items: center;
}

.containerCategorias .Despesas {
    background-color: #fff;
    border: 1px solid #E3E3E3;
    border-radius: 0.5rem;
    padding: 20px 150px;
    align-items: center;
}

.NovaCategoria a{
    display: flex;
    background-color: #1EB980;
    color: #ffff;
    padding: 10px 30px;
    border-radius: 0.8rem;
    border-bottom: 4px solid rgba(0, 0, 0, 0.185);
}